@charset "utf-8";

/* This stylesheet creates a full-width, two-colour-band page with a large headline, paragraphs of text, and a footer for fineprint. */

/* -------------- BODY */

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	background: #FFF; /* Best to use the same colour as #footer */
	color: #333;
	line-height: 150%;
}

/* -------------- STRUCTURE */

#wrapper {
	margin: 0 auto;
}

#header {
	margin: 1em;
}

.content {
	padding: 1em;
	background: #09F;
	color: white;
}

#footer {
	padding: 1em;
	border-top: 1px solid silver;
	background: #222;
}
#footer p {
	color: #FFF;
	font-size: 0.7em;
}
#footer a {
	color: inherit;
}

/* -------------- TEXT ELEMENTS */

h1, h2, h3, h3, h4, h5, h6 {
	clear: both;
	margin: 2em 0 0 0;
	line-height: 90%;
	font-weight: normal;
}
h1 {
	font-size: 3em;
	font-weight: bold;
}
p {
	max-width: 560px;
}
a img { 
	border: none;
}
a:link,a:visited {
	color: inherit;
	border: 1px solid white;
	border-color: #CCC;
	padding: 0em 0.1em 0em 0.1em;
	border-radius: 0.2em;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: inherit;
	background-color: grey;
}
